*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	background-color: black;

}

.nav-bar{
	height: 70px;
	background-color: purple;
	text-align: center;
	position: relative;
	padding: 10px 0px;
	opacity: .8;
}

.nav-bar:hover{
	opacity: 1;
}

.links{
	visibility: hidden;
	font-size: 2em;
	color:white;
	width: 90%;
	margin: auto;
	display: block;
}

.links:hover{
	background-color: white;
	color:black;
	box-sizing: content-box;
	border:1px solid black;
}

.active{
	visibility: visible;
	opacity: 1;
	background-color: white;
	color:black;
}
#menu-icon{
	width: 50px;
	height:50px;
	position: absolute;
	right: 0px;
	top:10px;
}

#menu-icon:hover{
	background-color: white;
}

#break{
	visibility: hidden;
}